extends layout

block content
  link(rel='stylesheet', href='/stylesheets/credit.css')
  nav.nav
  a.site-title(href="/" )
    img.logo(src="/images/logo.png")

    div.center
    h1 One Button Apple Adventure
    hr
    h2 Groupe 4
    div.team BERLOW Mara
    div.team HOUDAIFA Youness
    div.team GILABERT Adam
    div.team CUREAUX Valentin
    div.team TRUNET Mathieu
    div.team KABBA Mohamed
    hr
    h2 Les sources
    div
        .text-box
        a(href="https://bayat.itch.io/platform-game-assets") Game Assets
        .text-box
        a(href="https://lasonotheque.org/detail-0339-piece-de-monnaie-dans-tasse-1.html") Pièce de monnaie son
        .text-box
        a(href="https://lasonotheque.org/detail-1685-docteur-maboul-4.html") Perdre son
        .text-box
        a(href="https://pixabay.com/") son


