extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src="/javascripts/script.js") 
  
  img.logo(src="/images/logo.png")

  button(onclick='play()').pixalated  Play Game
  button(onclick='download()').pixalated Download Game
  button(onclick='credit()').pixalated Credit

