extends layout

block content
  h1 Powered By 
    a(href='https://expressjs.com/') #{title}
  p 404 : Page introuvable 🧭
  p Nous sommes désolés, mais la page que vous recherchez ne semble pas exister. Veuillez noter que ceci est une API et vous devez accéder à l'application depuis le portail frontal. Vérifiez l'URL pour détecter d'éventuelles erreurs de frappe ou utilisez le menu de navigation pour retrouver votre chemin. Si vous avez besoin d'aide supplémentaire, n'hésitez pas à contacter notre équipe d'assistance."
  <iframe src="/buildtest/index.html" width="960" height="700" frameborder="0" allowfullscreen></iframe>
